<ion-content [fullscreen]="true">
  <ion-searchbar animated placeholder="Name" showCancelButton="always"
   (ionInput)="getItems($event)"></ion-searchbar> 
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
      <ion-refresher-content
        pullingIcon="chevron-down-circle-outline"
        pullingText="Pull to refresh"
        refreshingSpinner="circles"
        refreshingText="Refreshing..."></ion-refresher-content>
    </ion-refresher>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-list>
          <ion-item *ngFor="let searchedLawyer of searchedLawyers" (click)="editActionSheet(searchedLawyer)">
            <ion-label color="primary">{{searchedLawyer?.name}}</ion-label>
            <ion-badge [color]="(searchedLawyer?.count < 1) ? 'danger':'tertiary'" slot="end" >{{searchedLawyer?.count}}</ion-badge>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<ion-fab vertical="center" horizontal="end" slot="fixed" (click)="presentAlert()">
  <ion-fab-button color="primary">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>
