

    ion-note {
      // font-size: .8em !important;
      align-self: flex-start !important;
      margin-top: 0px !important;
      float: right !important;
    }
  .note {
    padding-left: 0px !important;

  }
    ion-label {
      font-size: larger !important;
      font-weight: bolder !important;
      text-transform: capitalize;
  }
  
    h3 {
      font-weight: bolder !important;
    }
  
span {
  font-size: small !important;
}